# Releases directory
release/

# iv Files
*.swp

Linux/.DS_Store
.DS_Store
*.un~
*.tex~
System_Design/Nios_V/Nios_V_Intro.aux
System_Design/Nios_V/Nios_V_Intro.out
System_Design/Nios_V/Nios_V_Intro.log
System_Design/Nios_V/Nios_V_Intro.pdf
System_Design/Nios_V/Nios_V_Intro.synctex.gz
*.aux
*.log
*.out
*.gz
*.gz
